@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap');

body {
    font-family: 'Mukta', sans-serif;
}

/* For register page and login page*/

.container{
    max-width: 900px;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    padding: 2%;
}

.container .title {
    font-size: 30px;
    font-weight: 600;
    position: relative;
    text-align: center;
    margin-bottom: 5px;
}

.container .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: linear-gradient(135deg, #ACDF87, #1E5631);
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input{
    width: calc(100% / 2 - 20px);
    margin: 15px 0px 5px 0px;
}

.user-details .input .header{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input input, .user-details .input label{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input input:focus, .user-details .input label:focus{
    border-color: #1E5631;
}

.user-details .input input:hover, .user-details .input label:hover {
    cursor: pointer;
    border-color: #1E5631;
}

form .submit-button {
    height: 45px;
    margin: 45px 0;
}

form .submit-button input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #ACDF87, #1E5631);
}

form .submit-button input:hover{
    filter: brightness(80%);
    cursor: pointer;
}

.user-details .input input[type="file"]{
    display: none;
}


.user-details .input label {
    color: grey;
    display: flex;
    align-items: center;
    overflow: hidden;    
}

.container .login-link{
    text-align: center;
}

@media (max-width: 584px) {
    .container {
        max-width: 100%;
    }

    form .user-details .input{
        width: 100%;
        margin: 15px 0px 5px 0px;
    }

    .container form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar {
        width: 0;
    }
}




.container2{
    max-width: 600px;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    padding: 2%;
}

.container2 .title {
    font-size: 30px;
    font-weight: 600;
    position: relative;
    text-align: center;
    margin-bottom: 5px;
}

.container2 .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: linear-gradient(135deg, #ACDF87, #1E5631);
}

.container2 form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container2 form .user-details .input{
    width: 100%;
    margin: 15px 0px 5px 0px;
}

.container2 form .user-details .input input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 0px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    margin-top: 15px;

    transition: all 0.3s ease;

    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.container2 form .user-details .input input:focus{
    border-color: #1E5631;
}

.container2 form .user-details .input input:hover{
    border-color: #1E5631;
}

.container2 .register-link {
    text-align: center;
}

.container2 form .remember input{
    margin-left: 10px;
}

.container2 form .remember{
    margin-top: 20px;
}

.container2 form .submit-button {
    margin: 15px 0 40px 0;
}



/* for edit profile */
.edit-profile-container{
    max-width: 600px;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    padding: 2%;
}

.edit-profile-container .title {
    font-size: 30px;
    font-weight: 600;
    position: relative;
    text-align: center;
    margin-bottom: 5px;
}


.edit-profile-container .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: linear-gradient(135deg, #ACDF87, #1E5631);
}

.edit-profile-container form .edit-profile-user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.edit-profile-container form .edit-profile-user-details .input{
    width: 100%;
    margin: 15px 0px 5px 0px;
}

.edit-profile-container .input .header{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.edit-profile-container form .edit-profile-user-details .input input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;


    transition: all 0.3s ease;
}

.edit-profile-container form .edit-profile-user-details .input input:hover{
    border-color: #1E5631;
}

.edit-profile-container .register-link {
    text-align: center;
}

.edit-profile-container form .submit-button {
    margin: 15px 0 40px 0;
}


.edit-profile-user-details .input .header{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.edit-profile-user-details .input input:focus, .edit-profile-user-details .input textarea:focus{
    border-color: #1E5631;
}

.edit-profile-user-details .input input:hover, .edit-profile-user-details .input textarea:hover {
    cursor: pointer;
    border-color: #1E5631;
}

.edit-profile-user-details .input input[type="file"]{
    display: none;
}

.edit-profile-user-details .input label {
    background: linear-gradient(360deg, white 65%, #ACDF87 35%);
    height: 380px;
    display: flex;
    justify-content: center;
}

.edit-profile-user-details .input label img {
    border-radius: 50%;
    width: 75%;
    height: auto;
    background-color: white;
}

form .edit-profile-user-details #first-name-id, form .edit-profile-user-details #last-name-id{
    width: calc(100% / 2 - 20px);
    margin: 15px 0px 5px 0px;
}

form .edit-profile-user-details .input textarea {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 0px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;

    max-height: 150px;
    resize: none;
}

form .edit-profile-user-details .input textarea::placeholder {
    font-size: 16px;
    font-family: 'Mukta', sans-serif;

}

form .edit-profile-user-details .input textarea {
    padding-top: 8px;
    font-size: 16px;
}


textarea::-webkit-scrollbar {
    width: 0px;
}

.edit-profile-user-details #username {
    width: 100%;
    display: flex;
    justify-content: center;
}

.edit-profile-user-details #username .header {
    font-size: 24px;
}
